@font-face {
  	font-family: 'HelveticaNeue-Thin';
    	font-style: normal;
      	font-weight: normal;
        src: local('HelveticaNeue-Thin'), url('/fonts/HelveticaNeue-Thin.ttf') format('truetype');
	}

* {
        margin: 0px;
        padding: 0px;
}

html, body {
        font-size: 16px;
        line-height: 20px;
        width: 100%;
        height: 100%;
	background-image:url('/img/lavanda.jpg');
/*	text-align: justify;*/
}

h1, h2, h3, h4, h5, h6 {
	z-index:1;
	font-family: "HelveticaNeue-Thin";
	text-transform: uppercase;
	color: #73519D;
	font-weight:bold;
}

a:link {
	color: #73519D;
}      
a:visited {
	color: #73519D;
}
a:hover {
	color: #73519D;
	text-decoration: underline;
}  
a:active {
	color: #73519D;
}

ul li.current {
	background-color: red;
	background: url('/img/bird.png') 0px 2px no-repeat;
}

ul li.current a:hover {
	text-decoration: none;
}

.rounded {
	border: 1px solid black;
	border-radius: 10px;
}

header {
	padding: 20px 0 20px 0;
}

header a {
	text-decoration: none;
}

header a:hover {
	text-decoration: none;
}

hgroup {
	background-color: white;
	padding: 20px 80px 0 80px;
	height: 138px;
	border-top-left-radius: 80px;
	background: url(/img/onda.png) no-repeat 380px 20px, url(/img/op.png);
	background-size: 220px 120px, auto;
}

h1 {	
	font-size: 50px;
	line-height: 80px;
	margin:0px;
}

h2 {	
	font-size: 20px;
	line-height: 20px;
}

h3 {
	text-transform: none;
}

nav {
	text-transform: uppercase;
}

nav ul {
	list-style:none;
}

nav ul li {
	padding: 0 0 0 50px;
}

nav ul li a:hover {
	text-decoration: underline;
}

.maps {
	height: 138px;
	padding: 40px 80px 0 80px;
	line-height: 20px;
	background: url('/img/op.png');
}

article {
	padding: 39px 79px 20px 79px;
	border: 1px solid black;
	border-radius: 10px;
	background: url('/img/op.png');
}

article.home {
	background: url(/img/pages/home.png) 10px 10px repeat, url('/img/op.png');
	background-size: 600px auto, auto;
}


article.alloggi {
	background: url(/img/pages/bed.png) 10px 10px repeat, url('/img/op.png');
	background-size: 600px auto, auto;
}

article.informazioni {
	background: url(/img/pages/bussola.png) 10px 10px repeat, url('/img/op.png');
	background-size: 600px auto, auto;
}

article.contatti {
	background: url(/img/pages/contacts.png) 10px 10px repeat, url('/img/op.png');
	background-size: 600px auto, auto;
}

img {
	width: 460px;
	opacity:100;
}

img .logo {
	float: right;
	height: 50px;
	width: 50px;
}

.navigator {
	height: 98px; 
	background: url('/img/op.png');
	padding: 40px 0 20px 0px;
}

.twitter {
	opacity: .92;
	background-color: white;
	margin: 0;
}

footer {
	margin: 20px 0 20px 0;
	background: url(/img/ondasx.png) no-repeat 10px 10px, url(/img/ondadx.png) no-repeat 720px 10px, url(/img/op.png);
	background-size: 210px 40px, 210px 40px, auto;
	padding: 20px 0 0 0;
	text-align: center;
	height: 38px;
}
