@font-face {
  	font-family: 'HelveticaNeue-Thin';
    	font-style: normal;
      	font-weight: normal;
        src: local('HelveticaNeue-Thin'), url('/fonts/HelveticaNeue-Thin.ttf') format('truetype');
	}

* {
        margin: 0px;
        padding: 0px;
}

html, body {
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        height: 100%;
	background-image:url('/img/lavanda.jpg');
/*	text-align: justify;*/
}

h1, h2, h3, h4, h5, h6 {
	z-index:1;
	font-family: "HelveticaNeue-Thin";
	text-transform: uppercase;
	color: #73519D;
	font-weight:bold;
}

a:link {
	color: #73519D;
}      
a:visited {
	color: #73519D;
}
a:hover {
	color: #73519D;
	text-decoration: underline;
}  
a:active {
	color: #73519D;
}

header {
	margin-top: 20px;
	padding: 20px 0 20px 0;
	background: url('/img/op.png');
}

header a {
	text-decoration: none;
}

header a:hover {
	text-decoration: none;
}

h1 {	
	font-size: 46px;
	line-height: 80px;
	margin:0px;
}

h2 {	
	font-size: 20px;
}

h3 {
	text-transform: capitalize;
}

nav {
	text-transform: uppercase;
}

nav ul {
	margin-top: 20px;
	list-style:none;
}

nav ul li {
	padding: 0 0 0 50px;
}

nav ul li a:hover {
	text-decoration: underline;
}

nav ul li.current {
	background-color: red;
	background: url('/img/bird.png') 0px 4px no-repeat;
}

nav ul li.current a:hover {
	text-decoration: none;
}

article {
	padding: 20px 0 20px 0;
}


.home {
	background: url(/img/ricciolo.png) center top no-repeat, url(/img/pages/home.png) 40px 20px no-repeat, url('/img/op.png');
	background-size: 200px auto, 350px 340px, auto;
}

.alloggi {
	background: url(/img/pages/bed.png) 40px 20px no-repeat, url('/img/op.png');
	background-size: 350px auto, auto;
}

.informazioni {
	background: url(/img/pages/info.png) 40px 20px no-repeat, url('/img/op.png');
	background-size: 350px auto, auto;
}

.contatti {
	background: url(/img/pages/contacts.png) 40px 20px no-repeat, url('/img/op.png');
	background-size: 350px auto, auto;
}

figure {
	margin-top: 40px;
}

img {
	width: 268px;
	border: 1px solid black;
	opacity:100;
}

footer {
	margin: 20px 0 20px 0;
	background: url(/img/ondasx.png) no-repeat 10px 10px, url(/img/ondadx.png) no-repeat 580px 10px, url(/img/op.png);
	background-size: 120px 40px, 120px 40px, auto;
	padding: 20px 0 0 0;
	text-align: center;
	height: 38px;
}
