@font-face {
  	font-family: 'HelveticaNeue-Thin';
    	font-style: normal;
      	font-weight: normal;
        src: local('HelveticaNeue-Thin'), url('/fonts/HelveticaNeue-Thin.ttf') format('truetype');
	}

* {
        margin: 0px;
        padding: 0px;
}

html, body {
        font-size: 15px;
        line-height: 20px;
        width: 100%;
        height: 100%;
	background-image:url('/images/lavanda.jpg');
	background-attachment:fixed;
}

h1, h2, h3, h4, h5, h6 {
	z-index:1;
	font-family: "HelveticaNeue-Thin";
	text-transform: uppercase;
	color: #73519D;
	font-weight:bold;
}

h1 {	
	font-size: 46px;
	line-height: 80px;
	margin:0px;
}

h2 {	
	font-size: 20px;
}

h3 {
	text-transform: capitalize;
}

a:link {
	color: #73519D;
}      
a:visited {
	color: #73519D;
}
a:hover {
	color: #73519D;
	text-decoration: underline;
}  
a:active {
	color: #73519D;
}

header {
	margin-top: 20px;
	padding: 20px 0 20px 0;
	background: url('/images/op.png');
}

header a {
	text-decoration: none;
}

header a:hover {
	text-decoration: none;
}

nav {
	text-transform: uppercase;
}

nav ul {
	margin-top: 20px;
	list-style:none;
}

nav ul li {
	padding: 0 0 0 50px;
}

nav ul li a:hover {
	text-decoration: underline;
}

nav ul li.current {
	background-color: red;
	background: url('/images/bird.png') 10px 4px no-repeat;
}

nav ul li.current a:hover {
	text-decoration: none;
}

section {
	padding: 0 0 20px 0;
	margin-top: 00px;
}

.home {
	background: url(/images/pages/home.png) 20px 20px no-repeat, url('/images/op.png');
	background-size: 350px 340px, auto;
}

.alloggi {
	background: url(/images/pages/bed.png) 20px 20px no-repeat, url('/images/op.png');
	background-size: 350px auto, auto;
}

.informazioni {
	background: url(/images/pages/info.png) 20px 20px no-repeat, url('/images/op.png');
	background-size: 350px auto, auto;
}

.contatti {
	background: url(/images/pages/contacts.png) 20px 20px no-repeat, url('/images/op.png');
	background-size: 350px auto, auto;
}

img {
	background-color: red;
}

figure {
	background-color: blue;
}

figure.home img{
	background: url('/images/op.png');
	width: 258px;
	height: 258px;
	padding: 5px;
	border: 1px solid black;
	opacity:100;
}

figure.flag img {
	background-color: red;
	width: 28px;
	height: 18px;
	border: 0px solid black;
	padding: 0px;
	margin-top: 20px;
	background-color: red;
}

footer {
	margin: 20px 0 20px 0;
	background: url(/images/ondasx.png) no-repeat 10px 10px, url(/images/ondadx.png) no-repeat 580px 10px, url(/images/op.png);
	background-size: 120px 40px, 120px 40px, auto;
	padding: 20px 0 0 0;
	text-align: center;
	height: 38px;
}
