@font-face {
  	font-family: 'HelveticaNeue-Thin';
    	font-style: normal;
      	font-weight: normal;
        src: local('HelveticaNeue-Thin'), url('/assets/fonts/HelveticaNeue-Thin.ttf') format('truetype');
	}

* {
        margin: 0px;
        padding: 0px;
}

p {
	margin-bottom: 20px;
}

p.right {
	text-align: right;
}

html, body {
        font-size: 20px;
        line-height: 30px;
        width: 100%;
        height: 100%;
	background-image:url('/images/bosco.jpg');
	background-attachment:fixed;
}

h1, h2, h3, h4, h5, h6 {
	z-index:1;
	font-family: "HelveticaNeue-Thin";
	color: #73519D;
	font-weight:bold;
}

h1 {	
	font-size: 40px;
	line-height: 60px;
	margin-top: 20px;
	text-transform: uppercase;
}

h2 {	
	font-size: 24px;
	line-height: 40px;
	text-transform: uppercase;
}

h3 {	
	margin: 20px 0 20px 0;
}

a:link {
	color: #73519D;
}      
a:visited {
	color: #73519D;
}
a:hover {
	color: #73519D;
	text-decoration: underline;
}  
a:active {
	color: #73519D;
}

.box {
	margin-top: 20px;
	background: url('/images/op.png');
}

nav.menu {
	margin-bottom: 20px;
}

nav a,
header a {
	text-decoration: none;
}

nav a:hover,
header a:hover {
	text-decoration: none;
}

nav {
	text-transform: uppercase;
}

nav ul {
	margin-top: 20px;
	list-style:none;
}

nav ul li {
	padding: 0 0 0 50px;
}

nav ul li a:hover {
	text-decoration: underline;
}

nav ul li.current {
	background-color: red;
	background: url('/images/bird.png') 10px 4px no-repeat;
}

nav ul li.current a:hover {
	text-decoration: none;
}

article {
	height: 100%;
	margin: 0px;
	padding-bottom: 20px;
}

article ul {
	padding-left: 20px;
}

article.casa {
	background: url(/images/pages/home.png) center 40px no-repeat;
	background-size: 320px 320px, auto;
}

article.alloggi {
	background: url(/images/pages/bed.png) center 40px no-repeat;
	background-size: 320px 320px, auto;
}

article.info {
	background: url(/images/pages/info.png) center 40px no-repeat;
	background-size: 320px 320px, auto;
}

article.contatti {
	background: url(/images/pages/contacts.png) center 40px no-repeat;
	background-size: 320px 320px, auto;
}

figure {
	margin-top: 20px;
	padding: 0;
	border: 0;
}

nav.flag img {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 20px;
	display:block;
      	max-width:100%;
      	height:auto;
}

nav.flag img.active {	
	box-shadow: 0px 0px 14px #73519D;
}

figure img.casa,
figure img.logo {
	background: url('/images/op.png');
      	width: 100%;
	margin-bottom: 20px;
}

iframe {
	margin-bottom: 20px;
}

footer {
	margin: 20px 0 0 0;
}

footer.info2 p {
	text-align: right;
}
